body {
    background-color: #59F8E8;
}

#listContainer {
    background-color: #8B80F9;
}

#listContainer h1 {
    max-width: 100%;
    color: white;
}

#list {
    min-height: 400px;
    max-height: 400px;
    overflow-y: scroll;
}